@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Titillium+Web:wght@700;900&display=swap%27');

/*TEXT*/
p.text {
  font-size: 1rem;
}
h1.little-tittle {
  font-size: 1.5rem;
  color: #575757;
}

.txt-negrita {
  font-size: 1rem;
  font-weight: bold;
}



/* formulario */

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #12203E;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-family: "Titillium Web", sans-serif;
}

input[type="email"],select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #12203E;
  border-radius: 4px;
  resize: vertical;
  font-family: "Open Sans", sans-serif;
  font-family: "Titillium Web", sans-serif;
}

input[type="submit"] {
  background-color: #12203E;
  color: white;
  padding: 12px 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-family: "Titillium Web", sans-serif;
  margin: 15px 0px 4px;
}

input[type=submit]:hover {
  background-color: #12203E;
}

.formulario {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.623);
  padding: 20px;
  margin: 25px 25px;
  width: 50%;


}

.formtitles {
  padding: 12px 12px 12px 0;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5em;
  display: block;

}

.container-form{
  background-image: url("../img/contactopaisaje.jpg");
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
}



@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
    background-color: #12203E;
    color: white;
    padding: 12px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-family: "Titillium Web", sans-serif;
  }

  input[type="submit"]:hover {
    background-color: #12203E;
  }

  @media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type="submit"] {
      width: 100%;
      margin-top: 0;
    }
  }
}

/* Fin formulario */


/* Botones */
/* Botones 1*/
.button {
  position: relative;
  background-color: #03a696;
  border: none;
  color: #ffffff;
  padding: 10px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  font-family: "Titillium Web", sans-serif;
}

.button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

/* Botones2 */

.btn {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  color: #ffffff;
  background-color: #03a696;
  border-radius: 6px;
  border: 1.5px solid #253659;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-family: "Titillium Web", sans-serif;
}

.btn:hover {
  color: #03a696;
  background-color: #ffffff;
}

/* Botones3 */

.btn3d {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #12203E;
  box-shadow: 0 5px #2856b8;
  font-family: "Open Sans", sans-serif;
  font-family: "Titillium Web", sans-serif;
}

.btn3d:hover {
  box-shadow: 0 3px #12203E;
  top: 1px;
}

.btn3d:active {
  box-shadow: 0 0 #03a696;
  top: 5px;
}

/* Botones4 */

.btnslide {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #57cc99;
  color: #57cc99;
  font-family: "Open Sans", sans-serif;
  font-family: "Titillium Web", sans-serif;
}

.btnslide:hover {
  color: #fff;
}

.btnslide:hover:after {
  height: 100%;
}

.btnslide:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background: #03a696;
}

/* Botones5 */

.btnarrow {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #03a696;
  font-family: "Open Sans", sans-serif;
  font-family: "Titillium Web", sans-serif;
}

.btnarrow:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}

.btnarrow:hover:after {
  opacity: 1;
  right: 10px;
}

.btnarrow:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}
.btnarrow {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #03a696;
  font-family: "Open Sans", sans-serif;
  font-family: "Titillium Web", sans-serif;
}
.btnarrow:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}
.btnarrow:hover:after {
  opacity: 1;
  right: 10px;
}
.btnarrow:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}
