.grid-container {
    display: grid;
    height: 450px;
    align-content: center;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    border: 2px solid #04BF9D;
  }

  .grid-container > div .invisible {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    border: 1px solid #04BF9D;
  }
  

  .departamentos{

    width: 50%;
    position: relative;


  }

  .ciudades{

    width: 20%;
    position: relative;
    border: 2px solid #999999;
    margin-left: 10%;

  }

  .invisible{
    display: hidden;
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
  }